<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raksoct.ibonapp"
    android:installLocation="preferExternal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePlayerMain"
            android:label="@string/title_activity_single_player_main" >
        </activity>
        <activity
            android:name=".SinglePlayerMode"
            android:label="@string/title_activity_single_player_mode" >
        </activity>
        <activity
            android:name=".SinglePlayerEnd"
            android:label="@string/title_activity_single_player_end" >
        </activity>
        <activity
            android:name=".MultiPlayerMain"
            android:label="@string/title_activity_multi_player_main" >
        </activity>
        <activity
            android:name=".MultiPlayerMode"
            android:label="@string/title_activity_multi_player_mode" >
        </activity>
        <activity
            android:name=".MultiPlayerIntro"
            android:label="@string/title_activity_multi_player_intro" >
        </activity>
        <activity
            android:name=".MultiPlayerEnd"
            android:label="@string/title_activity_multi_player_end" >
        </activity>
    </application>

</manifest>
